name: Sample React CI Pipeline / Workflow

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node jobs
        uses: actions/setup-node@v4 # whenever i want to use github actions, i need to use uses property
        with:                       # with is the with we can define more custom properties like node-version, cache, etc.
          node-version: 22

      - name: Check Node JS Version
        run: node --version

      - name: Clone the repository
        uses: actions/checkout@v4 # this will fetch the repository code to the runner machine
      
      - name: Install dependencies
        run: npm install

      - name: List Directories
        run: ls

      - name: Run Linting
        run: npm run lint

      - name: Run Tests
        run: npm run test

      - name: Build the application
        run: npm run build

      - name: Upload product-ready build files # this will take the dist folder and upload it on a common place in the form of an artifact
        uses: actions/upload-artifact@v4
        with:
           name: build  # This is the name of the artifact that will be created which contain all files from the dist folder
           path: dist

